img{
    width: 500px;}

html {
    font-size: 10px;
     front-family:"open sans", sans-serif;}
    
    
h1{
    font-size: 60px
    text-align: center;
}

p, li {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}


html{
    background-color: darkorange;
}


body{
    width: 600px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 0 20px 20px 20px;
    border: 5px solid yellow;
}
td img{
    width: 200px;
}

